<div class="w-25 d-inline-flex align-items-center">
	<span class="font-weight-bold flex-shrink-1">Remaining Requests: </span>
	<p [ngSwitch]="displayType" class="flex-grow-1 m-2">
		<ngb-progressbar *ngSwitchCase="'NoLimit'"
				[value]="100"  [max]="100"
				type="info" [striped]="true" height="2.25em"
			>
				No Limit
		</ngb-progressbar>
		
		<ngb-progressbar *ngSwitchCase="'UnknownLimit'"
			[value]="100" [max]="100"
			type="info" [striped]="true" [animated]="true" height="2.25em"
		>
			Reading Limit...
		</ngb-progressbar>
		
		<ngb-progressbar *ngSwitchCase="'InsideLimit'"
			[value]="(limitInfo | async).remaining"
			[max]  ="(limitInfo | async).limit"
			type="success" height="2.25em"
		>
			{{(limitInfo | async).remaining}} / {{(limitInfo | async).limit}}
		</ngb-progressbar>
		
		<ngb-progressbar *ngSwitchCase="'ExceededLimit'"
			[value]="100" [max]="100"
			type="danger" [striped]="true" height="2.25em"
		>
			Exceeded Limit!
		</ngb-progressbar>
	</p>
	
	<i id="limitDescToggle" class="fas fa-question-circle"
		placement="right" [ngbTooltip]="limitDesc"
	></i>
</div>
<div class="mb-5"><span class="font-weight-bold mr-2">Limit Resets by:</span> {{limitResetDateStr}}</div>
<ng-template #limitDesc>
	The Github API limits how many requests can be sent.
	Once that limit is passed, the app won't be able to
	request any more issues for a while.
</ng-template>
