<div class="text-center">
	<span class="font-weight-bold mr-3">Page:</span>
	<ngb-pagination class="d-inline-flex justify-content-start"
		[page]="issuesPage.currentPage"
		[pageSize]="1" [collectionSize]="issuesPage.pageCount"
		[maxSize]="3" [rotate]="true" [directionLinks]="false"
		[disabled]="isLoadingPage"
		(pageChange)="onChangePage($event)"
	>
		<ng-template ngbPaginationFirst>
			<i class="fas fa-angle-double-left"></i>
		</ng-template>
		<ng-template ngbPaginationPrevious>
			<i class="fas fa-angle-left"></i>
		</ng-template>
		<ng-template ngbPaginationNext>
			<i class="fas fa-angle-right"></i>
		</ng-template>
		<ng-template ngbPaginationLast>
			<i class="fas fa-angle-double-right"></i>
		</ng-template>
			
	</ngb-pagination>
</div>

<div class="w-100 card card-body text-white text-center bg-danger"
	*ngIf="hasError"
>
	{{errorMsg}}
</div>

<div class="d-sm-flex flex-row flex-wrap">
	<div class="w-25" *ngFor="let issue of issuesPage.issues | async">
		<div class="card m-2">
			<div class="card-body d-flex flex-column">
				<h5 class="card-title">
					<ais-issue-title [issue]="issue"></ais-issue-title>
				</h5>
				<div class="issue-preview" (click)="expandIssue(issue)">
					<h6 class="card-subtitle ml-4">
						<ais-issue-user [user]="issue.user"></ais-issue-user>
					</h6>

					<!-- User must expand issue to view details like assignees -->
					<ais-issue-assignees [issue]="issue"
						disabled="true"
					>
					</ais-issue-assignees>
					<div class="issue-body" markdown [data]="issue.body"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- This modal is shown when a page is loading -->
<ng-template #loadingModal>
	<div class="modal-body">
		Loading issues...
	</div>
</ng-template>

<!-- This modal is shown when an issue-preview is clicked -->
<ais-issue-modal></ais-issue-modal>
