/* Import card-bg color variable */
@import "~bootstrap/scss/bootstrap";

/* Show a small section of the issue body */
.issue-body {
	max-height: 5em;
	overflow: hidden;
}
/* Cover issue body with a transparent gradient */
.issue-preview {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		left: 0;		right: 0;
		top: 0;		bottom: 0;
		background-image: linear-gradient(to top, $card-bg, rgba(255, 255, 255, 0));
	}
}
